
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p {
    color: red;
    text-align: center;
    background-color: rgb(127, 199, 175);
    margin-bottom: 10px;
}

#sample {
    text-align: right;
}

.text {
    font-family: arial;
    font-size: 30px;
}

.text2 {
    border: 2px solid blue;
    color: white;
}

.box{
    color:aquamarine;
    border: 3px dashed black;
    margin: 15px;
    padding: 10px;
}